<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block service_meta %}
            <meta name="viewport" content="width=device-width">
        {% endblock %}
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.png') }}">

        {% block meta %}
            {% set page = load('pages', {path: request.path}) %}
            {% include 'common/meta.twig' with {title: page.meta_title ?: page.title, description: page.meta_description, keywords: page.meta_keywords} %}
        {% endblock %}

        {% block socials_meta %}
            {% include 'common/meta_socials.twig' with {title: page.meta_title ?: page.title, description: page.meta_description, keywords: page.meta_keywords} %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
            <link rel="stylesheet" href="{{ asset('css/common.css') }}">
        {% endblock %}

        {% block canonical %}{% endblock %}
    </head>
    <body class="body {% block body_mod %}{% endblock %}">
        <div class="body__wrapper">
            {% block header %}
                <div class="body__header">
                    {% include 'common/header.twig' %}
                </div>
            {% endblock %}
            <div class="body__content">
                {% block body %}{% endblock %}
            </div>
            <div class="body__footer">
                {% block footer %}
                    {% include 'common/footer.twig' %}
                {% endblock %}
            </div>
        </div>

        {% if not user.authenticated %}

        {% endif %}


        {% block javascripts %}
            <script src="{{ asset('js/vendor.js') }}"></script>
            <script src="{{ asset('js/common.js') }}"></script>
        {% endblock %}

        {% set flash = app.flashes(['notify', 'error']) %}
        {% if flash.notify or flash.error %}
            {% include 'common/flash.twig' with {flash: flash} %}
        {% endif %}

        <script>
            app.serverDiffTime = (new Date("{{ 'now'|date('c') }}")).getTime() - Date.now();
            {% if user.authenticated %}
                app.authenticated = true;
                app.userId = {{ user.id }};
            {% else %}
                app.authenticated = false;
            {% endif %}
            app.start();
        </script>

        {% block layers %}{% endblock %}

        {% if app.environment != 'dev' %}
            {% include 'common/code.twig' %}
        {% endif %}
    </body>
</html>


